.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    
    background-image: url('/images/japanese-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.formContainer{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: flex-start;
    background-color: var(--primary-background-color);
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
    margin: 4rem;
}

.formBreak{
    background-color: black;
    margin: 1rem 0;
}

.formFooter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkBoxContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.checkbox {
  margin-bottom: 2.5px;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}