@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;500;700&family=IBM+Plex+Sans+Vietnamese:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #14213D;
    --secondary-text-color: #4A4E69;
    --primary-color: #C74A4A;
    --primary-background-color: #FCFCFC;
}


body{
    font-family: 'IBM Plex Sans Vietnamese', 'IBM Plex Sans JP', sans-serif;
}